*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;

    background-color:  hsl(229, 57%, 11%);
    background-image: url(Assets/bg-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 50vh;

    color: hsl(243, 100%, 93%);
}

.box-left{
    align-self: center;
    
    display: grid;
    grid-template-rows: repeat(2,1fr);
    
    height: 140px;
    width: 250px;

    margin-right: 30px;
    padding: 30px;
    padding-bottom: 0;

    border-radius: 8px;
    border-top-right-radius: 80px;
    background-color:hsl(228, 56%, 26%);
}

.box-files{
    display: flex;
    
}

.box-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
    
    height: 45px;
    width: 45px;

    border-radius: 8px;
    background-color: hsl(229, 57%, 11%);
}

.box-info{
    position: absolute;
    top: 220px;
    left: 880px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    
    width: 150px;
    height: 45px;

    background-color:hsl(243, 100%, 93%);
    border-radius: 5px;
}

.box-info>h3{
    display: inline-block;
    
    margin-right: 5px;

    color: hsl(229, 57%, 11%);
    font-size: 2.5em;
    font-weight: 700;
}

.box-info>h4{
    display: inline-block;
   
    color: hsl(229, 7%, 55%);

    font-size: .7em;
    letter-spacing: 1px;
}

.triangle{
    position: absolute;
    top: 60px;
    right: 0px;

    width: 30px;
    border-right:30px solid hsl(243, 100%, 93%);
    border-bottom: 30px solid transparent;
}

.box-bar{
    align-self: center;
    margin-top: 45px;

    padding: 30px;
    padding-bottom: 15px;

    height: 80px;
    width: 400px;

    border-radius: 8px;
    background-color:hsl(228, 56%, 26%);

    font-size: .8em;
}

.box-bar>div{
    display: flex;
}

 
.text1>h5{
    margin-left: 3px;
    margin-right: 3px;

    font-size: 1em;
}

.bar{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 16px;
    width: 100%;

    background-color: hsl(229, 57%, 11%);
    border-radius: 8px;
}

#file{
    position: absolute;
    height: 12px;
    width: 81.5%;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;

    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%) );
    border-radius: 6px;
}

.circle{
    position: absolute;
    top: 3px;
    right: 73px;
    height: 10px;
    width: 10px;

    border-radius: 50%;
    background-color: hsl(243, 100%, 93%);
}

.text2{
    display: inline-block;
    justify-content: space-between;
}

.text2>h4{
    font-weight: 400;
    font-size: 1em;
}

/* Extra small devices (phones, 375px and down)*/
@media screen and (max-width: 375px) {

    body{
        display: flex;
        flex-direction: column;

        background-image: url(Assets/bg-mobile.png);
        background-size: 100vh;
        background-position: -100px -120px;
    }

    .box-left{
        margin: 0 auto;
    }

    .box-bar{
        width: 250px;
        
        margin: 0 auto;
        margin-top: 15px;
    }

    .text1{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .box-info{
        top: 400px;
        left: 100px;
    }

    .triangle{
        display: none;
    }

    .circle{
        right: 46px;
    }

}

/* Extra small devices (phones, 375px and down)*/
@media screen and (min-width: 376px) and (max-width: 768px) {

    body{
        display: flex;
        flex-direction: column;

        background-image: url(Assets/bg-mobile.png);
        background-size: 130%;
        background-position: -100px -120px;
    }

    .box-left{
        margin: 0 auto;
    }

    .box-bar{
        width: 250px;
        
        margin: 0 auto;
        margin-top: 15px;
    }

    .text1{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .box-info{
        top: 400px;
        left: 300px;
    }

    .triangle{
        display: none;
    }

    .circle{
        right: 46px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1044px){

    .box-info{
        top: 180px;
        left: 710px;
    }
}

